
h1{
    padding: 25px;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    background-color: #0766DF;
    color: #FFFF;
}

img{
    margin-top: 15px;
    width: 450px;
    height: 350px;
    margin-left: 500px;
}

h2{
    margin-top: 25px;
    font-size: 2.5rem;
    color: #0766DF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    margin-top: 15px;
    font-size: 2rem;
    color: #0766DF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

ul{
    list-style: none;
}

ul li {
    font-size: 1rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

ol li{
    font-size: 1rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    text-align:justify ;
}